/* Global css */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #134b70;
  --heading-color: #201e43;
  --bg-color: #dbe2ef;
  --github: #e62872;
  /* --darkblue: #1c1e53; */
  --darkblue: #134b70;
  --black: #000000;
  --white: #eeeeee;
}
/* 
negru : 151515
/* negru : 112D4E
 albastru: 3F72AF
 bg-inchis: DBE2EF
 bg-deschis: F9F7F7
*/

.btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  width: 180px;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.5s;
}
.icon{
  margin: 0 10px;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgb(16, 24, 40);
  gap: 16px;
  width: 200px;
}

.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* Common CSS */
.main-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

/* Main headings */
/* H1 */
h1 {
  font-size: 66px;
  font-weight: bold;
  line-height: 67px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
a {
  text-decoration: none;
}
/* Paragraph */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text-sm {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
.section-title {
  color: var(--heading-color);
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
  margin-top: 21px;
}

/* Portofolio contact me */
.sub-title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Hero section style */
.hero-section {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
}

.img-container {
  width: 50%;
}

.hero-section img {
  width: 100%;
}

.hero-section-container {
  display: flex;
  max-width: 1320px;
  align-items: center;
}

.hero-section-container .content-container {
  width: 50%;
  padding: 70px 0;
  margin-right: 150px;
}

.hero-section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85px;
  background: var(--bg-color);
  box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
nav .logo {
 font-size: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-top: 2px solid var(--primary);
}

.navbar-items > ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  text-decoration: none;
  gap: 43px;
}

.navbar-items > ul a {
  text-decoration: none;
}

.navbar-content {
  color: var(--primary);
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar-content:hover {
  color: var(--black);
  font-weight: bold;
}

.list-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.list-container-mobile {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: calc(100% - 40px);
  background-color: #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container li {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
}

.nav-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Skill Section */
.skill-section {
  margin: 50px 0;
}
.skill-section .skills-section-heading {
  margin-bottom: 30px;
}

.skill-section-heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
}

.skill-section-container {
  display: grid;
  align-items: flex-start;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 50px 0;
}

.skill-card-section {
  align-items: flex-start;
  background: #67a6eb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 4px solid var(--darkblue);
}
.skill-card-title {
  border-bottom: 3px solid var(--black);
}

.skiil-section-card-content {
  padding: 10px 30px 0px 30px;
}

.skill-card-section:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.skill-card-body li {
  font-size: 25px;
  color: var(--black);
}

/* About me */
.about-section {
  background-color: var(--bg-color);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-container .about-content {
  width: 50%;
  padding: 70px;
}

.about-section-img {
  width: 50%;
}

.about-me-heading{
  border-bottom: 3px solid var(--heading-color);
}

.about-section-img > img {
  width: 100%;
}
.about-skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.about-skills .about-skills-container {
  width: 100px;
  margin: 10px 20px;
}

.about-skills .about-skills-container > img {
  width: auto;
  height: 50px;
}

#future .main-container {
  display: block;
}

#future.about-section {
  background-color: transparent;
}

.gold {
  color: rgb(208, 160, 14);
}
/* My portofolio */
.portofolio-section {
  background-color: var(--bg-color);
}
.portofolio-section .main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  margin-top: 50px;
}

.portofolio-section-card .img-container {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.portofolio-container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.portofolio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.portofolio-section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 44px;
  width: 100%;
}

.portofolio-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.portofolio-section-card:hover {
  scale: 1.05;
  overflow: hidden;
}

.portofolio-section-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: #e7ebf9;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 500px;
  overflow: hidden;
  max-width: 350px;
}
.portofolio-section-card-content .description{
  font-size: 15px;
  padding: 20px 0;
}

.portofolio-section-card-content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 32px;
  width: calc(100% - 64px);
}

.portofolio-section-card-content svg {
  width: 15px;
  height: 15px;
}

.portofolio-section-title {
  color: var(--heading-color);
}

.portofolio-link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 11px;
  font-weight: 600;
}

/* First projects section */

.first-projects-section {
  background-color: var(--bg-color);
}

.first-projects-container-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.first-projects-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.first-projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}

.first-projects-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  width: 100%;
}

/*Contact me section */
.contact-section .section-title {
  padding: 20px 0;
}

.img-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.img-container:hover .overlay-text {
  opacity: 1;
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .list-container-mobile {
    position: absolute;
    top: 50%;
  }
  .skill-section .main-container {
    padding: 0px;
  }

  .skill-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .skill-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skill-section-container .skill-card-section {
    width: 100%;
  }
}

@media only screen and (max-width: 876px) {
  .hero-section {
    margin-top: 0;
  }
.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section-container .img-container{
  width: 60%;
}

.hero-section-container .content-container {
  width: 80%;
  margin: 10px;
}
  .hero-section .main-container,
  .hero-section-content-box.about-section-box {
    flex-direction: column;
  }

  .list-container {
    display: none;
  }
  .active {
    background-color: #007bff;
  }
  .nav-btn {
    display: block;
  }
  nav {
    position: relative;
  }

  nav .logo {
    width: 80%;
    height: auto;
  }

  nav ul {
    list-style: none;
  }
  nav ul li {
    padding: 5px;
  }
  .list-container-mobile .show {
    display: block;
  }

  .list-container-mobile {
    position: absolute;
    top: 70%;
  }

  .skill-section {
    padding: 40px;
  }
  .skill-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

   .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .about-container .about-content {
    padding: 0;
    width: 100%;
  }

  .about-section-img {
    width: 100%;
  }
  
  .about-skills {
    display: flex;
    flex-wrap: wrap;
  }

  .portofolio-section {
    padding: 20px;
    margin-top: 20px;
    gap: 20px;
  }

  .portofolio-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .portofolio-container-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .portofolio-container-box .portofolio-container {
    margin: 20px;
  }

  .first-projects-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .first-projects-container-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .first-projects-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact-section {
    padding: 20px;
    margin-top: 20px;
  }

  .contact-section .section-title {
    padding: 20px;
  }

  /* .card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
  } */

}
@media only screen and (max-width: 1024px) {
  .portofolio-section {
    padding: 20px;
    margin-top: 20px;
    gap: 20px;
  }

  .portofolio-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .portofolio-container-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .portofolio-container-box .portofolio-container {
    margin: 20px;
  }

  .first-projects-section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .first-projects-container-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .first-projects-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact-section {
    padding: 20px;
    margin-top: 20px;
  }

  .contact-section .section-title {
    padding: 20px;
  }

}

footer {
  background-color: var(--bg-color);
}

/* Styling new card */
.card-container {
  display: flex;
  width: 800px;
  flex-direction: row;
  background-color: var(--bg-color);
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.technologies-container {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-evenly;
}

.first-col,
.second-col {
  flex: 1;
  position: relative;
  background-color: var(--white);
}

.portofolio-img {
  width: 100%;
  height: auto;
}
